.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}
.page-header__logo {
  padding-right: 65px;
}
.page-header__logo-image {
  width: 190px;
  margin: 10px 0;
}
@media (min-width: @tablet) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    width: @tablet;
  }
}

@media (min-width: @desktop) {
  .page-header {
    width: @desktop;
    padding: 12px 0;
  }
}
